@page "/burger"
@inject BurgerState _burgerState

<div class="container">
    <div class="burger">
        <div class="breadTop mt-4"></div>

        @foreach (var ingredient in _burgerState.lst)
        {
            @for (int i = 0; i < ingredient.Quantity; i++)
            {
                <div class="@ingredient.Name.ToLower()"></div>
            }
        }

        <div class="breadBottom mt-4"></div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        _burgerState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _burgerState.OnChange -= StateHasChanged;
    }
}
