@page "/productList"

<div class="container">
    <div class="row">
        @foreach (var product in listProduct)
        {
            <ProductItem Product="@product" eventAddToCart="eventAddToCart" />
        }
    </div>
</div>

@code {
    [Parameter]
    public List<ProductVM> listProduct { get; set; } = new List<ProductVM>();

    [Parameter]
    public EventCallback<ProductVM> eventAddToCart { get; set; }
}
